# ───────────────────────────────────────────
#  Fast and Spermious — .gitignore
# ───────────────────────────────────────────

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Cordova généré
/plugins/
/platforms/

# Build APK/AAB (binaires — ne pas commiter)
*.apk
*.aab

# Keystore (JAMAIS dans le repo)
keystore/
*.jks
*.keystore

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
